/*** BASE STYLES ***/

/** padding and border included in total width/height of elements **/
* {
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
	background: #1f202b;
	color: white;
}

h2 {
	text-align: center;
	font-size: 40px;
	padding-bottom: 150px;
	font-family: 'Proza Libre', sans-serif;
}

h6 {
	text-align: center;
	font-size: 18px;
	padding-top: 30px;
}

.left {
	text-align: right;
}

/*** GRID ***/

.full-width {
	width: 100%;
	margin: 0 auto;
}

.half-width {
	width: 50%;
	float: left;
	padding: 55px;
}

.third-width {
	width: 33%;
	float: left;
	padding: 35px;
}

.row::after {
	content: "";
	clear: both;
	display: table;
}


/*** HEADER ***/

nav {
	padding: 0 20px;
}

header p {
	font-size: 30px;
}

nav ul li {
	float: right;
	display: inline-block;
}

nav ul li a {
	color: white;
	text-decoration: none;
	font-size: 30px;
	padding-left: 45px;
}

#gradient-up {
	background-image: linear-gradient(#1f202b, black);
	height: 20px;
	clear: both;
}

#pic-bkg {
	background: url(../img/hero.jpg);
	background-size: cover;
	height: 700px;
}

#gradient-down {
	background-image: linear-gradient(black, #1f202b);
	height: 20px;
}

/*** PORTFOLIO ***/

#portfolio img {
	width: 100%;
}

#portfolio .text {
	padding-top: 100px;
}

/*** ABOUT ***/

#about {
	background-image: url(https://images-assets.nasa.gov/image/PIA02991/PIA02991~orig.jpg);
	background-size: cover;
	height: auto;
	overflow: auto;
	padding: 70px;
}

#about h2 {
	padding-bottom: 0px;
}

#bkg-fade {
	background-color: rgba(0, 0, 0, 0.7);
}

#about h4, p {
	font-size: 24px;
	line-height: 36px;
}

#about img {
	width: 90%;
}

/*** CONTACT ***/

#contact {
	font-size: 24px;
	text-align: center;
}

#contact a {
	text-decoration: none;
	color: #C49075;
	font-weight: bold;
	font-size: 28px;
}

#contact ul {
	list-style: none;
}

#contact ul li {
	display: inline-block;
}

#contact ul img {
	font-size: 32px;
	padding-right: 48px;
}
